.DS_Store
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
*/.cache
*/.cache-main
*/.cache-tests
*/.classpath
*/.project
*/.sbtserver
*/.settings
*/log/*
indexer-movie-script/data
indexer-movie-script/target
indexer-movie-script/project/target
indexer-movie-script/project/project/target/

search-actors-play-scala/project/target
search-actors-play-scala/target
search-actors-play-scala/project/project/target
search-actors-play-scala/logs/

*/atmos.dir_IS_UNDEFINED
